label {
    font-weight: 600;
}

.form-control {
}

.page-banner {
    height: 230px;
    position: relative;
    background: rgb(211, 22, 79);
    background: linear-gradient(
        90deg,
        rgba(211, 22, 79, 1) 0%,
        rgba(222, 39, 59, 1) 100%
    );
    .page-banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        h1 {
            font-size: 2.5rem;
        }
    }
}

.checkout-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .personal {
        border-radius: 5px;
    }
}

.booking-detail-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    h2 {
        /*font-weight: bold;
        font-size:22px;*/
    }
    .ch-date {
        display: flex;
        font-size: 10px;
        font-weight: bold;
        .checkin,
        .checkout {
            .ch-title {
                font-size: 14px;
                color: #555;
            }
            flex: 1;
            .ch-date-date {
                font-weight: bold;
                font-size: 32px;
            }
        }
    }
    .b-detail-breakdown {
        p {
            margin-bottom: 5px;
            font-size: 15px;
            color: #555;
            text-shadow: 0 0 0.2px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .b-total-price {
        /*text-align:right;*/
        .total-price-title {
            color: #555;
            font-size: 14px;
        }
        .total-price {
            font-size: 24px;
        }
    }
}
.apply-coupon {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    .form-control {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .checkout-section {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .checkout-section {
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
    }
}
