.blink_me {
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate-center-half {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes rotate-center-half {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.btn {
  border-radius: 0;
}

.btn-outline-white {
  color: #fff !important;
  border-color: #fff;
}

.btn1 {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000000;
}

.btn1:hover {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-white {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
}

.btn-white.z1 {
  -webkit-box-shadow: 0 0 10px 0 rgba(90, 90, 90, 0.2);
          box-shadow: 0 0 10px 0 rgba(90, 90, 90, 0.2);
}

.btn-white:hover {
  color: #000;
  opacity: 0.8;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobilemenu {
  padding: 0.5rem;
  z-index: 888;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px #F1F3F7 solid;
}

.mobilemenu .menublock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobilemenu .menublock .menubtn {
  padding-left: 1rem;
}

.mobilemenu .menublock .menubtn .brand {
  max-width: 100px;
}

.mobilemenu .menublock .menubtn .brand img {
  max-width: 100px;
}

.mobilemenu .menublock .signup {
  font-size: 1.3rem;
  padding: 0rem 0rem 0rem 0.5rem;
}

.mobilemenu .menublock .search {
  font-size: 1.3rem;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
  border-right: 1px #d1d1d1 solid;
}

.mobilemenu .menublock .language {
  padding-right: 0.5rem;
  position: relative;
  border-right: 1px #d1d1d1 solid;
}

.mobilemenu .menublock .language .icon {
  font-size: 1.3rem;
}

.mobilemenu .menublock .language .sup {
  position: absolute;
  font-size: 0.6rem;
  right: 1px;
  display: block;
  top: -6px;
  background: #e81010;
  color: white;
  padding: 2px;
  font-weight: 700;
  border-radius: 50%;
  border: 2px solid white;
}

.v-center, .primary-header .h-right .language, .primary-header .h-right .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.primary-header {
  padding-left: 80px;
  padding-right: 50px;
}

.primary-header .h-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-header .h-right .language {
  cursor: pointer;
  padding: 0px 20px;
  border-right: 1px #d1d1d1 solid;
  color: #222222;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
}

.primary-header .h-right .language .icon {
  font-size: 35px;
  padding-right: 10px;
  max-height: 50px;
}

.primary-header .h-right .language .small-icon {
  padding-left: 5px;
}

.primary-header .h-right .language:hover {
  background: #f1f1f1;
}

.primary-header .h-right .signup {
  cursor: pointer;
  padding: 0px 20px;
  color: #222222;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
}

.primary-header .h-right .signup .icon {
  font-size: 35px;
  padding-right: 10px;
  max-height: 50px;
  overflow: hidden;
}

.primary-header .h-right .signup:hover {
  background: #f1f1f1;
}

.primary-header .brand img {
  margin: 10px 2px;
  max-width: 220px;
}

.secondary-header {
  -webkit-transition: all 2s;
  transition: all 2s;
  padding-left: 100px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 888;
  background: rgba(255, 255, 255, 0.98);
  border-bottom: 1px #f1f3f7 solid;
}

.secondary-header .menublock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-header .menublock .menubtn {
  padding-top: 8px;
  padding-left: 1rem;
}

.secondary-header .menublock .menubtn .brand {
  max-width: 175px;
}

.secondary-header .menublock .menubtn .brand img {
  max-width: 175px;
}

.secondary-header .menublock .icons {
  padding-top: 8px;
}

.secondary-header .menublock .mini-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.secondary-header .menublock .mini-search .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 20px;
}

.secondary-header .menublock .mini-search .search-bar .location {
  border: #f1f1f1 solid 1px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.secondary-header .menublock .mini-search .search-bar .location .input {
  padding-top: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.secondary-header .menublock .mini-search .search-bar .location .input input {
  background: transparent;
  width: 100%;
  border: none;
  padding-left: 20px;
}

.secondary-header .menublock .mini-search .search-bar .location .input input:focus {
  border: none !important;
  outline: none;
}

.secondary-header .menublock .mini-search .search-bar .location .input input:focus ~ #target {
  display: block;
}

.secondary-header .menublock .mini-search .search-bar .location .locsearch {
  display: inline;
  padding: 10px 0px;
}

.secondary-header .menublock .mini-search .search-bar .location .locsearch div {
  border: none;
  margin: 0px 10px 0px 10px;
  height: auto;
}

.secondary-header .menublock .mini-search .search-bar .location .locsearch div span {
  background: #f1f1f1;
  padding: 4px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: #4d4d4d;
  cursor: pointer;
}

.secondary-header .menublock .mini-search .search-bar .location .locsearch div span .fas {
  margin-right: 5px;
}

.secondary-header .menublock .mini-search .search-bar .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: green;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px #f1f1f1 solid 1px;
}

.secondary-header .menublock .mini-search .search-bar .button button {
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
}

.secondary-header .menublock .mini-search .search-bar .button button:active,
.secondary-header .menublock .mini-search .search-bar .button button:focus {
  border: none;
  outline: none;
}

.secondary-header .menublock .mini-search .search-bar .services {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: transparent;
  border: #f1f1f1 solid 1px;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-selection {
  height: 100%;
  text-align: left;
  background: transparent;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-container {
  width: 100% !important;
  display: inline-block;
  height: 50px;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-container--focus {
  border: none !important;
  outline: none !important;
}

.secondary-header .menublock .mini-search .search-bar .services .selection:focus {
  border: none !important;
  outline: none !important;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-selection--single:focus {
  border: none !important;
  outline: none !important;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-selection--single {
  border: none;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-selection__arrow {
  display: none;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-selection__rendered {
  padding: 8px;
}

.secondary-header .menublock .mini-search .search-bar .services .select2-selection__rendered:focus {
  outline: none;
}

.secondary-header .menublock .mini-search .search-bar .services #select2-select-service-container {
  height: 50px;
  border: none;
  padding-left: 20px;
  text-align: left;
}

.secondary-header .menublock .mini-search .search-bar #target1 {
  padding: 10px;
  position: absolute;
  left: 0px;
  width: 100%;
  background: white;
  top: 50px;
  z-index: 1;
  border: 1px #f1f1f1 solid;
  display: none;
}

.secondary-header .menublock .mini-search .search-bar #target1 .result {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  font-weight: 500;
  line-height: 20px;
}

.secondary-header .menublock .signup {
  font-size: 30px;
}

.secondary-header .menublock .signup .icon {
  font-size: 30px;
  max-height: 50px;
  overflow: hidden;
  display: inline-block;
}

.secondary-header .menublock .search {
  font-size: 1.3rem;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
}

.secondary-header .menublock .language {
  position: relative;
}

.secondary-header .menublock .language .icon {
  font-size: 30px;
  max-height: 50px;
  overflow: hidden;
}

.secondary-header .menublock .language .sup {
  position: absolute;
  font-size: 0.6rem;
  right: 5px;
  display: block;
  top: -15px;
  background: #e81010;
  color: white;
  padding: 2px;
  font-weight: 700;
  border-radius: 50%;
  border: 2px solid #ff8e8e;
}

.special-nav, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev, .feature-vendors #owl-feature-vendors .owl-nav .owl-next, .feature-services #owl-feature-services .owl-nav .owl-prev, .feature-services #owl-feature-services .owl-nav .owl-next, .data-services #owl-services .owl-nav .owl-prev, .data-services #owl-services .owl-nav .owl-next {
  font-size: 15px;
  padding: 2px 8px !important;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 0px #000000ab;
          box-shadow: 0px 0px 6px 0px #000000ab;
}

.special-nav:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-next:focus, .feature-services #owl-feature-services .owl-nav .owl-prev:focus, .feature-services #owl-feature-services .owl-nav .owl-next:focus, .data-services #owl-services .owl-nav .owl-prev:focus, .data-services #owl-services .owl-nav .owl-next:focus {
  outline: none;
}

.feature-vendors .f-header {
  margin: 1.3rem 0px;
}

.feature-vendors .f-header h1 {
  font-weight: 700;
  font-size: 28px;
  color: #404040;
}

.feature-vendors #owl-feature-vendors .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -15px;
}

.feature-vendors #owl-feature-vendors .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -15px;
}

.feature-vendors #owl-feature-vendors .owl-dots {
  display: none;
  height: 0;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .image-holder {
  overflow: hidden;
  height: 185px;
  background: #F1F1F1;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .image-holder img {
  width: 100%;
  min-height: 100%;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description {
  padding: 0px 5px 5px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f1f1f1;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-title {
  white-space: nowrap;
  color: #141414;
  font-weight: 700;
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-subtitle {
  white-space: nowrap;
  color: #5d5d5d;
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 1rem;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating .f-rating-display {
  padding: 2px 5px 2px 8px;
  background: #52B520;
  font-weight: 600;
  color: white;
  margin-right: 5px;
}

.feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating .fa-circle {
  font-size: 5px;
  color: #222222;
}

@media (max-width: 768px) and (min-width: 576px) {
  .feature-vendors .f-header h1 {
    text-align: left;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .image-holder {
    height: 185px;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-title {
    font-size: 1.1rem;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-subtitle {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) and (min-width: 375px) {
  .feature-vendors .f-header {
    margin: 0.5rem 0rem;
  }
  .feature-vendors .f-header h1 {
    font-weight: 500;
    font-size: 22px;
    color: #1f1f1f;
  }
  .feature-vendors #owl-feature-vendors .owl-nav .owl-prev {
    top: 35% !important;
  }
  .feature-vendors #owl-feature-vendors .owl-nav .owl-next {
    top: 35% !important;
  }
  .feature-vendors #owl-feature-vendors .owl-dots {
    display: none;
    height: 0;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .image-holder {
    display: block;
    height: 140px;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description {
    line-height: 1.2rem;
    padding-top: 5px !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-title {
    font-weight: 600 !important;
    font-size: 0.8rem !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-subtitle {
    font-weight: 500 !important;
    font-size: 0.7rem !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 0.7rem !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating .f-rating-display {
    position: absolute;
    bottom: 60px;
    right: 5px;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating .fa-circle {
    font-size: 5px;
    color: #222222;
  }
}

@media (max-width: 375px) {
  .feature-vendors .f-header {
    margin: 0.5rem 0rem;
  }
  .feature-vendors .f-header h1 {
    font-weight: 500;
    font-size: 22px;
    color: #1f1f1f;
  }
  .feature-vendors #owl-feature-vendors .owl-nav .owl-prev {
    top: 35% !important;
  }
  .feature-vendors #owl-feature-vendors .owl-nav .owl-next {
    top: 35% !important;
  }
  .feature-vendors #owl-feature-vendors .owl-dots {
    display: none;
    height: 0;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .image-holder {
    display: block;
    height: 120px;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description {
    line-height: 1.2rem;
    padding-top: 5px !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-title {
    font-weight: 600 !important;
    font-size: 0.8rem !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-subtitle {
    font-weight: 500 !important;
    font-size: 0.7rem !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 0.7rem !important;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating .f-rating-display {
    position: absolute;
    bottom: 60px;
    right: 5px;
  }
  .feature-vendors #owl-feature-vendors .owl-feature-vendor .owl-feature-description .f-rating .fa-circle {
    font-size: 5px;
    color: #222222;
  }
}

.special-nav, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev, .feature-vendors #owl-feature-vendors .owl-nav .owl-next, .feature-services #owl-feature-services .owl-nav .owl-prev, .feature-services #owl-feature-services .owl-nav .owl-next, .data-services #owl-services .owl-nav .owl-prev, .data-services #owl-services .owl-nav .owl-next {
  font-size: 15px;
  padding: 2px 8px !important;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 0px #000000ab;
          box-shadow: 0px 0px 6px 0px #000000ab;
}

.special-nav:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-next:focus, .feature-services #owl-feature-services .owl-nav .owl-prev:focus, .feature-services #owl-feature-services .owl-nav .owl-next:focus, .data-services #owl-services .owl-nav .owl-prev:focus, .data-services #owl-services .owl-nav .owl-next:focus {
  outline: none;
}

.feature-services {
  margin-top: 4rem;
}

.feature-services .fs-header {
  margin: 1.3rem 0px;
}

.feature-services .fs-header h1 {
  font-weight: 700;
  font-size: 28px;
  color: #404040;
}

.feature-services #owl-feature-services .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -15px;
}

.feature-services #owl-feature-services .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -15px;
}

.feature-services #owl-feature-services .owl-dots {
  display: none;
  height: 0;
}

.feature-services #owl-feature-services .owl-feature-service .image-holder {
  height: 200px;
  overflow: hidden;
}

.feature-services #owl-feature-services .owl-feature-service .image-holder img {
  width: 100%;
  min-height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description {
  padding: 0px 10px 10px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f1f1f1;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-title {
  white-space: nowrap;
  color: #141414;
  font-weight: 700;
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-subtitle {
  white-space: nowrap;
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 1rem;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating ::before {
  content: '( ';
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating ::after {
  content: ' )';
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating .fs-rating-display {
  padding: 2px 5px 2px 8px;
  background: #52B520;
  font-weight: 600;
  color: white;
  margin-right: 5px;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price {
  font-size: 20px;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .new {
  color: #EE2E24;
  font-weight: 700;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .old {
  text-decoration: line-through;
  font-weight: 500;
  color: #535353;
  font-size: 15px;
  margin: 0px 1px;
  display: inline-block;
}

.feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .discount {
  font-size: 15px;
  color: #bea721;
  font-weight: 700;
}

@media (max-width: 768px) and (min-width: 576px) {
  .feature-services .fs-header {
    text-align: left;
  }
}

@media (max-width: 576px) and (min-width: 375px) {
  .feature-services {
    margin-top: 2rem;
  }
  .feature-services .fs-header {
    text-align: left;
    margin: 0.5rem 0rem;
  }
  .feature-services .fs-header h1 {
    font-weight: 500;
    font-size: 22px;
    color: #1f1f1f;
  }
  .feature-services #owl-feature-services .owl-nav .owl-prev {
    top: 35% !important;
  }
  .feature-services #owl-feature-services .owl-nav .owl-next {
    top: 35% !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .image-holder {
    height: 140px;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description {
    line-height: 1.2rem;
    padding-top: 10px !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500 !important;
    font-size: 1rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-subtitle {
    font-weight: 400 !important;
    font-size: 0.8rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 0.8rem !important;
    position: absolute;
    bottom: 70px;
    background: #43882c;
    padding: 5px 10px;
    border-radius: 5px;
    right: 10px;
    color: white;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating ::before {
    content: '';
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating ::after {
    content: '';
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price {
    font-size: 0.8rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .new {
    color: #EE2E24;
    font-weight: 700;
    font-size: 0.8rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .old {
    display: none;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .discount {
    margin-left: 5px !important;
    font-size: 0.8rem !important;
    display: inline-block;
    color: #bea721;
    font-weight: 700;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .discount ::before {
    content: '-';
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .down {
    display: block;
    content: 'd';
    color: #F1F1F1;
    font-size: 0.8rem !important;
    font-weight: 700;
  }
}

@media (max-width: 375px) {
  .feature-services {
    margin-top: 2rem;
  }
  .feature-services .fs-header {
    text-align: left;
    margin: 0.5rem 0rem;
  }
  .feature-services .fs-header h1 {
    font-weight: 500;
    font-size: 22px;
    color: #1f1f1f;
  }
  .feature-services #owl-feature-services .owl-nav .owl-prev {
    top: 35% !important;
  }
  .feature-services #owl-feature-services .owl-nav .owl-next {
    top: 35% !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .image-holder {
    height: 120px;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description {
    line-height: 1.2rem;
    padding-top: 10px !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500 !important;
    font-size: 1rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-subtitle {
    font-weight: 400 !important;
    font-size: 0.8rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: 0.8rem !important;
    position: absolute;
    bottom: 70px;
    background: #43882c;
    padding: 5px 10px;
    border-radius: 5px;
    right: 10px;
    color: white;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating ::before {
    content: '';
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-rating ::after {
    content: '';
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price {
    font-size: 0.8rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .new {
    color: #EE2E24;
    font-weight: 700;
    font-size: 0.8rem !important;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .old {
    display: none;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .discount {
    margin-left: 5px !important;
    font-size: 0.8rem !important;
    display: inline-block;
    color: #bea721;
    font-weight: 700;
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .discount ::before {
    content: '-';
  }
  .feature-services #owl-feature-services .owl-feature-service .owl-feature-description .fs-price .down {
    display: block;
    content: 'd';
    color: #F1F1F1;
    font-size: 0.8rem !important;
    font-weight: 700;
  }
}

.special-nav, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev, .feature-vendors #owl-feature-vendors .owl-nav .owl-next, .feature-services #owl-feature-services .owl-nav .owl-prev, .feature-services #owl-feature-services .owl-nav .owl-next, .data-services #owl-services .owl-nav .owl-prev, .data-services #owl-services .owl-nav .owl-next {
  font-size: 15px;
  padding: 2px 8px !important;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 0px #000000ab;
          box-shadow: 0px 0px 6px 0px #000000ab;
}

.special-nav:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-next:focus, .feature-services #owl-feature-services .owl-nav .owl-prev:focus, .feature-services #owl-feature-services .owl-nav .owl-next:focus, .data-services #owl-services .owl-nav .owl-prev:focus, .data-services #owl-services .owl-nav .owl-next:focus {
  outline: none;
}

.data-services {
  margin-top: 4rem;
}

.data-services .title {
  margin: 1.3rem 0px;
}

.data-services .title h1 {
  font-weight: 700;
  font-size: 28px;
  color: #252525;
}

.data-services #owl-services .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: -15px;
}

.data-services #owl-services .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: -15px;
}

.data-services #owl-services .owl-dots {
  display: none;
  height: 0;
}

.data-services .owl-service {
  border-radius: 10px;
}

.data-services .owl-service .image-holder {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.data-services .owl-service .image-holder image {
  width: 100%;
}

.data-services .owl-service .service-title {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #404040;
  background: #f1f1f1;
  font-size: 22px;
  padding: 5px 10px 10px 10px;
  font-weight: 600;
}

@media (max-width: 768px) and (min-width: 576px) {
  .data-services .title {
    text-align: left;
  }
  .data-services .title h1 {
    font-weight: 700;
    font-size: 28px;
    color: #404040;
  }
  .data-services .owl-service {
    border-radius: 10px;
  }
  .data-services .owl-service .image-holder {
    overflow: hidden;
  }
  .data-services .owl-service .image-holder image {
    width: 100%;
  }
  .data-services .owl-service .service-title {
    color: #404040;
    background: #f1f1f1;
    font-size: 20px;
    padding: 5px 10px 10px 10px;
    font-weight: 600px;
  }
}

@media (max-width: 576px) {
  .data-services {
    margin-top: 2rem;
  }
  .data-services .title {
    text-align: left;
    margin: 0.5rem 0rem;
  }
  .data-services .title h1 {
    font-weight: 500;
    font-size: 22px;
    color: #1f1f1f;
  }
  .data-services #owl-services .owl-nav .owl-prev {
    top: 35% !important;
  }
  .data-services #owl-services .owl-nav .owl-next {
    top: 35% !important;
  }
  .data-services .owl-service {
    border-radius: 10px;
  }
  .data-services .owl-service .image-holder {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .data-services .owl-service .image-holder image {
    width: 100%;
  }
  .data-services .owl-service .service-title {
    color: #404040;
    background: #f1f1f1;
    font-size: 16px;
    padding: 5px 10px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

html {
  scroll-behavior: smooth;
}

.span, .hero-search .search-bar .location, .hero-search .search-bar .services, .hero-search .search-bar .button {
  background: white;
  text-align: center;
  line-height: 50px;
  position: relative;
}

div.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.scroll, href {
  cursor: pointer;
}

.select2-search__field:focus {
  outline: none !important;
  border: rgba(47, 156, 206, 0.856) 1px solid !important;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(47, 155, 206, 0.678);
          box-shadow: 0px 0px 3px 3px rgba(47, 155, 206, 0.678);
}

.city {
  background: #F3F5F7;
  color: #888888;
  padding: 1px;
}

.city .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  text-align: right;
}

.city .dropdown .dropdown-title {
  padding: 5px 25px;
  display: inline-block;
}

.city .dropdown .dropdown-title .icon {
  padding: 0px 5px;
  font-weight: 100;
}

.city .dropdown .dropdown-title .icon .fas {
  font-weight: 600;
}

.city .dropdown .dropdown-title:hover {
  border: 1px solid #F3F5F7;
}

.city .dropdown .dropdown-title:hover .icon .fas {
  -webkit-animation: rotate-center-half .6s ease-in-out both;
          animation: rotate-center-half .6s ease-in-out both;
}

.city .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 7px;
  z-index: 1;
  text-align: left;
}

.city .dropdown:hover .dropdown-content {
  display: block;
}

.city .dropdown:focus .dropdow-title {
  border: 1px red solid;
}

.city .city-right {
  padding: 5px 25px;
}

.hero-search {
  background: #d3164f;
  background: -webkit-gradient(linear, left top, right top, from(#d3164f), to(#de273b));
  background: linear-gradient(90deg, #d3164f 0%, #de273b 100%);
  min-height: 250px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-search .header {
  background: url("/img/car.png");
  background-size: cover;
  padding: 1.2rem 0px 1rem 0px;
}

.hero-search .header h1 {
  font-weight: 700;
}

.hero-search .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border-radius: 5px;
}

.hero-search .search-bar .location {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hero-search .search-bar .location .input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.hero-search .search-bar .location .input input {
  height: 50px;
  width: 100%;
  border: none;
  padding-left: 20px;
}

.hero-search .search-bar .location .input input:focus {
  border: none !important;
  outline: none;
}

.hero-search .search-bar .location .input input:focus ~ #target {
  display: block;
}

.hero-search .search-bar .location .locsearch {
  height: 100%;
}

.hero-search .search-bar .location .locsearch div {
  border: none;
  margin: 0px 10px 0px 10px;
  height: auto;
}

.hero-search .search-bar .location .locsearch div span {
  background: #f1f1f1;
  padding: 4px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: #4d4d4d;
  cursor: pointer;
}

.hero-search .search-bar .location .locsearch div span .fas {
  margin-right: 5px;
}

.hero-search .search-bar .services {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.hero-search .search-bar .services .select2-container {
  width: 100% !important;
  display: inline-block;
  height: 50px;
}

.hero-search .search-bar .services .select2-container--focus {
  border: none !important;
  outline: none !important;
}

.hero-search .search-bar .services .selection:focus {
  border: none !important;
  outline: none !important;
}

.hero-search .search-bar .services .select2-selection--single:focus {
  border: none !important;
  outline: none !important;
}

.hero-search .search-bar .services .select2-selection--single {
  border: none;
}

.hero-search .search-bar .services .select2-selection__arrow {
  display: none;
}

.hero-search .search-bar .services .select2-selection__rendered {
  padding: 8px;
}

.hero-search .search-bar .services .select2-selection__rendered:focus {
  outline: none;
}

.hero-search .search-bar .services #select2-select-service-container {
  height: 50px;
  border: none;
  padding-left: 20px;
  text-align: left;
}

.hero-search .search-bar .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #128036;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hero-search .search-bar .button button {
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
}

.hero-search .search-bar .button button:active, .hero-search .search-bar .button button:focus {
  border: none;
  outline: none;
}

.hero-search .search-bar .location::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  bottom: 0;
  right: 0;
}

.hero-search .search-bar #target {
  padding: 10px;
  position: absolute;
  left: 0px;
  width: 100%;
  background: white;
  top: 50px;
  z-index: 1;
  border: 1px #f1f1f1 solid;
  display: none;
}

.hero-search .search-bar #target .result {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  font-weight: 500;
  line-height: 20px;
}

.hero-search .extra-search {
  padding: 1.2rem;
  color: white;
}

.hero-search .extra-search .head {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
}

.hero-search .extra-search .search-link {
  border: white 1px solid;
  border-radius: 3px;
  font-weight: 400;
  padding: 0.5rem 0.7rem;
  margin: 0px 0.4rem;
  display: inline-block;
}

.hero-search .extra-search .search-link:hover {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
}

.features {
  background: #f1f1f1;
}

.features .feature-holder {
  padding: 1.6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .feature-holder .feature-head {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid #b5b5b5;
}

.features .feature-holder .feature-head .feature-title {
  font-size: 25px;
  font-weight: 800;
}

.features .feature-holder .feature-head .feature-subtitle {
  font-size: 22px;
  font-weight: 500;
}

.features .feature-holder .feature-head .feature-desc {
  font-size: 18px;
  font-weight: 400;
  color: #888888;
  display: block;
}

.features .feature-holder .feature-items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: inline-block;
}

.features .feature-holder .feature-items .feature-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.features .feature-holder .feature-items .feature-item .icon {
  font-size: 25px;
}

.special-nav, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev, .feature-vendors #owl-feature-vendors .owl-nav .owl-next, .feature-services #owl-feature-services .owl-nav .owl-prev, .feature-services #owl-feature-services .owl-nav .owl-next, .data-services #owl-services .owl-nav .owl-prev, .data-services #owl-services .owl-nav .owl-next {
  font-size: 15px;
  padding: 2px 8px !important;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 0px #000000ab;
          box-shadow: 0px 0px 6px 0px #000000ab;
}

.special-nav:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-prev:focus, .feature-vendors #owl-feature-vendors .owl-nav .owl-next:focus, .feature-services #owl-feature-services .owl-nav .owl-prev:focus, .feature-services #owl-feature-services .owl-nav .owl-next:focus, .data-services #owl-services .owl-nav .owl-prev:focus, .data-services #owl-services .owl-nav .owl-next:focus {
  outline: none;
}

.main {
  padding: 0rem 5rem;
  margin-bottom: 5rem;
}

.secondary {
  background: #F1F3F7;
  padding: 5rem;
}

.secondary .service-type {
  margin-bottom: 30px;
  padding: 3rem;
  text-align: center;
  color: #686868;
  background: white;
  font-size: 20px;
}

.secondary .service-type .icon {
  font-size: 35px;
}

.secondary .service-type:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: #EE2E24;
}

.footer {
  background: #6D787D;
  color: white;
}

.footer .title {
  border-bottom: 1px white solid;
  padding: 3rem 5rem;
}

.footer .title h1 {
  font-size: 35px;
}

.footer .title .f-logo {
  width: 150px;
  margin-left: 15px;
}

.footer .title .links {
  font-size: 16px;
  font-weight: 600;
}

.footer .title .links span {
  padding: 2px 10px;
}

.footer .title .links span:hover {
  border-bottom: 1px solid white;
}

.footer .description {
  padding: 3rem 5rem;
}

.footer .description .link {
  font-size: 16px;
  padding: 10px 15px;
  color: #fff;
  display: inline-block;
  margin: 10px 0;
  padding: 0 4px;
}

.footer .description .link:hover {
  text-decoration: underline;
}

.footer .description .important-links {
  padding: 1rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.footer .description .long-link {
  border-right: 1px solid white;
}

@media (max-width: 768px) and (min-width: 576px) {
  .footer .title {
    padding: 2rem;
  }
  .footer .title h1 {
    font-size: 25px;
  }
  .footer .description {
    padding: 1rem 2rem;
  }
  .footer .description .link:hover {
    text-decoration: underline;
  }
  .footer .description .important-links {
    padding: 1rem;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
  }
  .footer .description .long-link {
    border: none;
  }
  .city .dropdown {
    text-align: left;
  }
  .city .dropdown .dropdown-content {
    width: 100%;
  }
  .hero-search .header {
    background: url("/img/car1.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .search-bar {
    display: block !important;
  }
  .search-bar .location, .search-bar .services, .search-bar .button {
    display: block !important;
    margin-bottom: 2px;
    border-radius: 5px;
  }
  .search-bar .location .locsearch {
    height: 100%;
  }
  .search-bar .location .locsearch div span {
    padding: 5px 7px !important;
  }
  .search-bar .location .locsearch div span .fas {
    margin-right: 0px !important;
  }
  .feature-holder {
    display: block !important;
    padding: 1rem 1rem;
  }
  .feature-holder .feature-head {
    border-right: none !important;
    border-bottom: 1px solid #b5b5b5;
    display: block !important;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  .extra-search {
    padding: 1.2rem;
    color: white;
  }
  .extra-search .head {
    display: block !important;
  }
  .extra-search .search-link {
    margin: 5px 0rem !important;
    display: block !important;
  }
  .main {
    padding: 0rem 2rem;
  }
  .secondary {
    padding: 5rem 2rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0rem 1rem;
  }
  .secondary {
    padding: 3rem 1rem;
  }
  .footer .title {
    padding: 1rem;
    text-align: center;
  }
  .footer .title h1 {
    font-size: 20px;
  }
  .footer .title h1 .f-logo {
    width: 90%;
    padding: 0 !important;
  }
}
/*# sourceMappingURL=main1.css.map */